table {
	background: #f8f8f8;
	border: 1px solid #e1e4e5;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 0.5em;
}

th:first-child {
	border-right: 1px solid #e1e4e5;
}

tr:first-child {
	border-left: none !important;
}

td {
	border-top: 1px solid #e1e4e5;
	border-left: 1px solid #e1e4e5;
}
